/** Estilos de la app en general*/

body{
    background-color:#212121 !important;
}

.bg-dark, .navbar.bg-dark, .card-chart{background: #1a1a1a !important;}


/** Estilos de lock-screen*/
.lockscreen-bg{
    height: calc(100vh);
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.black-layer{
    background-color: rgba(0,0,0, .7);
    height: calc(100vh);
}
.card-lock-custom{
    padding-top: 13vh;
}


/** Estilos del Dashboard*/
.main-panel{
    border: none;
    background: #212121 !important;
}

.main-panel>.content{
    padding: 40px 30px 30px 30px;
}

/** Estilos LOGIN*/
.add-margin{
    margin-top: calc(10vh) !important;
}

/** Estilos admin panel*/
.form-control, * textarea.form-control, .login-page textarea.form-control, .card-login.card-white textarea.form-control{
    border-color: gray;
}
.react-select .react-select__control, .react-select .react-select__control:hover{
    border-color: gray;
}